body{
  font-family: sans-serif;
  margin: 0;
  background-image: url("https://images.unian.net/photos/2024_01/thumb_files/400_0_1705326713-2180.png?r=950637");
}
header{
    padding: 18px 24px;
    background-color: #34401F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi-list a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    background-color: #5D7340;
    padding:10px;
    margin: 5px;
}
.navi-list a:hover{
    box-shadow:0 0 20px 5px #52942E;
}

p{
    background-color:rgba(66, 84, 41, 0.7);
     color:#918484;
      font-family: 'Roboto', sans-serif;
         font-size: 25px;
         padding: 10px;
         margin: 25px;
         
}
